:root {
  --roboto-regular: 'Roboto', sans-serif;
  --roboto-titulos: 'Roboto Mono', monospace;
  --azul-escuro: #0d225a;
}

html {
  font-family: var(--roboto-regular);
}

.cabecalho {
  width: 100%;
  background-image: linear-gradient(to bottom, #F9F8FF 0, #f0cdf7 75%, #9EBDE2 25%);
  padding-bottom: 2rem;
}



.foto-nome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.sobre-mim {
  padding: 2rem 1.5rem;
  align-items: center;
}

.foto-ana {
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
}

.titulo-principal {
  font-family: var(--roboto-titulos);
  font-weight: 700;
  font-size: 1.9rem;
  text-align: center;
  color: var(--azul-escuro);
}

.texto-sobre-mim {
  text-align: center;
  line-height: 1.2rem;
  margin-top: 1.3rem;
  color: var(--azul-escuro);
}

.texto-sobre-mim p:first-child {
  margin-bottom: 0.4rem;
}
hr {
  opacity: 30%;
}


.grupo-linguagens {
  display: flex;
  justify-content: space-around;
}

.fundo-linguagem {
  background-color: #f0cdf7;
  border-radius: 3px;
  padding: 0.5rem;
  box-shadow: 0px 1px #8faed4;
  display: flex;
  flex-direction: column-reverse;
  font-size: 0.7rem;
  align-items: center;
  color: white;
}

.linguagem {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.2rem;
}

.outras-tecnologias {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
  color: #e7ebf8;
  margin-top: 1.4rem;
}

.grupo-imagens-redes {
  display: flex;
  flex-direction: row;
  padding: 0 3rem;
  justify-content: space-between;
}

.imagens-redes {
  width: 1.7rem;
  opacity: 20%;
}

.area-2 {
  background-color: #e7ebf8;
  padding: 1.5rem;
}

.titulo-secundario {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--azul-escuro);
  font-weight: 700;
  font-family: var(--roboto-titulos);
  text-align: center;
  margin-bottom: 1rem;
}

.container-traco {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.traco {
  background-color: #71c07c;
  width: 3rem;
  height: 3px;
  border-radius: 5px;
}

.traco-pequeno {
  background-color: #71c07c;
  width: 0.5rem;
  height: 3px;
  border-radius: 5px;
  margin-left: 5px;
}

.traco-minusculo {
  background-color: #71c07c;
  width: 0.2rem;
  height: 3px;
  border-radius: 5px;
  margin-left: 5px;
}
.grupo-imagens-projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imagens-projetos {
  width: 8rem;
  padding: 0.1rem;
}

 
.estagio-globo, .estagio-buser {
	color: #4f6068;
}

.estagio-globo {
  margin-top:  2rem;
}

.estagio-buser {
	margin-bottom: 2rem;
}

.imagem-experiencia{
	width: 20px;
	height: 20px;
}

.titulo-buser, .titulo-globo, .titulo-etec, .titulo-unesp, .titulo-boticario, .titulo-unifesp, .titulo-busertech {
	display: flex;
	flex-direction: row;
	align-items: center;
  font-weight: 400;
}

.titulo-terciario {
  margin-left: 1rem;
  color: #4f6068;
}

.data {
	font-size: 0.8em;
	color: #43bfa6;
	margin: 0.5rem 0 0.7rem 0;
}

.container-texto p {
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
  line-height: 1rem;
}

.margem {
  margin-top: 3rem;
}

b {
	font-size: 15px;
	color: #4f6068;
  font-weight: 800;
  fill: none;
  
}

.titulo-boticario img {
	width: 40px;
	height: 40px;
	opacity: 80%;
}

.titulo-unesp img {
	width: 60px;
	height: 20px;
	opacity: 80%;
}

.titulo-etec, .titulo-unesp, .titulo-boticario, .titulo-unifesp, .titulo-busertech {
	margin-top: 30px;
}

.titulo-etec img, .titulo-unifesp img {
	width: 48px;
	height: 20px;
	opacity: 80%;
}

.area-3 {
  background-color: #9ebde2;
}
